 body {
      margin-top:0px;
      padding-top:0px;
    }
    .header {
      background-color: #FFFFFF;
      height: 75px;
      border: 1px solid #E6E6E6;
    }
      .mainsection {
        height: 900px;
        background-color:#FAFAFA;
      }
      
      .container{
          width: 100%;
      }